body {
    background-color: #333;
    color: #fff;
  }

  .navbar {
    background-color: #222;
    color: #fff;
  }

  .footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .header-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .header-buttons a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .header-buttons a:hover {
    background-color: #964B00;
  }

  .content-section {
    display: flex;
    align-items: center;
    padding: 50px 0;
    text-align: left;
  }

  .content-section img {
    max-width: 50%;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .content-section-text {
    flex: 1;
  }

  .content-section-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  /* Media query for small screens */
  @media (max-width: 768px) {
    .content-section {
      flex-direction: column;
    }
    .content-section img {
      max-width: 100%;
    }
  }
  .navbar {
    background-color: #964B00;
    border-color: #964B00;
  }

  .navbar-brand {
    font-weight: bold;
    color: #fff;
  }
  .nav-link {
    font-weight: bold;
    color: #fff;
  }
  
  table {
  color: white !important;
}
a.nav-link:hover,  a.navbar-brand:hover{
    color:#333;
  }

  button:focus {
  outline: 1px dotted;
  outline: none !important;
}

      @media (max-width: 425px) {
          .cnx{
              overflow-x: scroll;
          }
      }



      h2 {
  color: #FFA500 !important;
}

td a {
  color: #ffae1a;
}
table.table.table-bordered.table-striped a {

  color: #ffae1a !important;
}